/* Navbar.css */

.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-icon {
    margin-right: 10px;
    font-size: 2.5em;
    color: rgb(64, 128, 0);
}

.navbar-brand {
    font-size: 1.5em;
    color: rgb(64, 128, 0);
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-link:hover {
    color: #007bff;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-custom:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}

.user-png {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}